.navbarContainter {
    height: 74px;
    color: #102851;
    padding: 25px 0;
    margin-bottom: 60px;
}

.topNav {
    height: 2.3rem;
    background-color: var(--primaryColor);
}

.signup {
    background-color: var(--primaryColor);
    padding: 8px 20px;
    border-radius: 6px;
    color: white;
}

.appointmentBtn {
    background-color: var(--primaryColor);
    padding: 16px 36px;
    border-radius: 10px;
}

.SearchBtn {
    color: var(--tmdbLightBlue);
}

/* Banner02 */

.inputBox {
    width: 100%;
    background-color: var(--inputColor);
    height: 50px;
    border: 2px solid var(--border);
    border-radius: 8px;
    padding-left: 16px;
}

.relative {
    color: var(--inputText);
}

.searchBtn {
    position: relative;
    background-color: var(--primaryColor);
    /* height: 50px; */
    padding: 14px 20px;
    border-radius: 6px;
    color: white;
}