/* Doctor_Filter */
.searchBtn {
    position: relative;
    background-color: var(--primaryColor);
    /* height: 50px; */
    padding: 7px 20px;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hiddenSearchBtn {
  background-color: rgb(215, 215, 241);
  cursor:default;
}


.appiontmentBg {
    background-color: var(--appointmentBg);
}

.appointmentBtn {
    position: relative;
    background-color: #185FA0;
    /* height: 50px; */
    padding: 7px 20px;
    border-radius: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.detailsAppointmentBtn {
    position: relative;
    background-color: #185FA0;
    padding: 15px 30px;
    border-radius: 1px;
    color: white;
    cursor: pointer;
}

.lobster {
    font-family: "Lobster Two", sans-serif;
}

.placeholderText::placeholder {
    font-size: 12px;
    font-family: "Lobster Two", sans-serif;
}