@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primaryColor: #2AA8FF;
    --secondaryColor: #80D0C7;
    --border: #9CA3AF;
    --inputColor: #F0F0F0;
    --inputText: #ABB6C7;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
    color: black;
}